<div class="container">
  <% @tasks.each do |task| %>
  <div class="app-list">
    <a onclick="App.openAwakeUrl(this)" data-url="<%= task.awake_url %>" data-taskid="<%= task.uniq_id %>">
      <div class="row">
        <div class="col-xs-8" style="text-align:left">
          <%= task.project_name %>
        </div>
        <div class="col-xs-4" style="text-align:right">
          <%= task.complete_count %>&nbsp;/&nbsp;<%= task.task_count %>
        </div>
      </div>
    </a>
  </div>
  <% end %>
</div>
<div class="reload-btn" onclick="javascript:window.location.reload(true);">
  刷新
</div>
